<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <title>Danke - Anes' Kiosk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="container">
        <h1>Danke für Ihre Nachricht!</h1>
        <p>Wir melden uns so schnell wie möglich bei Ihnen.</p>
        <p><a href="{{ url_for('home') }}">Zurück zur Startseite</a></p>
    </div>
</body>
</html>
